<!DOCTYPE html>
<html lang="en">
<head>
	<title>Куда мы все катимся?</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="shower/themes/material/styles/screen-16x10.css">
        <link rel="stylesheet" href="highlight/styles/default.css">
        <style>
          .float-right {
            text-align: right;
            width: 100%;
            display: block;
            margin-bottom: 0em!important;
          }
          .selected-line {
            background-color: #4caf50!important;
          }
          pre.miltiline-code code:before {
            content:none!important;
          }
          pre.miltiline-code code {
          }
          .angular {
            font-size: 20px!important;
            line-height: 1.5!important;
          }
          .slide:after {
            right: 96px!important;
            left: auto!important;
          }
          img.title-image {
             height: 120px;
             float: right;
          }
          h2.angular-title {
            position: relative;
          }
          h2.angular-title img {
            position: absolute;
            right: 0px;
          }
        </style>

</head>
<script src="highlight/highlight.pack.js"></script>
<script>
hljs.configure({languages: []});
hljs.initHighlightingOnLoad();
</script>
<body class="shower list">
	<header class="caption">
		<h1>Куда мы все катимся?</h1>
		<p>Беда Илья, bro.agency</p>
	</header>
	<section class="slide" id="cover">
		<h2>Куда мы все катимся?</h2>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
		<p class="float-right"><a href="https://github.com/ir4y">Беда Илья</a></p>
		<p class="float-right"><a href="http://bro.agency/">bro.agency</a></p>
	</section>
	<section class="slide">
		<h2>Кто я?</h2>
                <ul>
                    <li>Тимлид и один из основателей bro.agency </li>
                    <li>Разрабатываю веб-формочки на python в течение 8 лет</li>
                    <li>Продвигаю функциональное программирование в массы</li>
                    <li>Провожу воркшопы и мастер-классы</li>
                </ul>
	</section>
	<section class="slide">
		<h2>Про что доклад?</h2>
              <ul>
                  <li>JavaScript сейчас на гребне волны</li>
                    <li>Я расскажу свой личный опыт. Свое видение индустрии</li>
                    <li>Расскажу о причинах, по которым произошел такой бурный рост JavaScript</li>
                    <li>Расскажу о проблемах и возможном пути их решения</li>
                </ul>
	</section>
	<section class="slide">
		<h2>Когда-то давно все было просто</h2>
                <pre class="miltiline-code">
                <code class="lang-javascript lang-xml">
&lt;script type="text/javascript"&gt;
  $(document).ready(function() {
    $(".fancybox").fancybox();
  });
&lt;/script&gt;
                </code>
                </pre>

	</section>
	<section class="slide">
		<h2>Когда-то давно все было просто</h2>
                <pre class="miltiline-code">
                <code class="javascript xml">
&lt;script type="text/javascript"&gt;
  $(document).ready(function() {</code>
  <code class="javascript html selected-line">    $(".fancybox").fancybox();</code><code class="javascript html">  });
&lt;/script&gt;
                </code>
                </pre>

	</section>
	<section class="slide">
		<h2>Потом стало немного сложнее</h2>
                <pre class="miltiline-code">
                <code class="javascript xml">
&lt;script type="text/javascript"&gt;
  $(document).ready(function() {
    $("p").click(function() {
      $(this).slideUp();
    });
  });
&lt;/script&gt;
                </code>
                </pre>

	</section>
	<section class="slide">
		<h2>Потом стало немного сложнее</h2>
                <pre class="miltiline-code">
                <code class="javascript xml">
&lt;script type="text/javascript"&gt;
  $(document).ready(function() {</code><code class="javascript xml selected-line">    $("p").click(function() {
      $(this).slideUp();
    });</code><code class="javascript xml">  });
&lt;/script&gt;
                </code>
                </pre>

	</section>
	<section class="slide">
                <h2>Дальше появилась динамика</h2>
                <pre class="miltiline-code">
                <code class="javascript xml">
&lt;script type="text/javascript"&gt;
  $.get("ajax/test.html", function(data) {
    $(".result").html(data);
  });
&lt;/script&gt;
                </code>
                </pre>
	</section>
	<section class="slide">
                <h2>Дальше появилась динамика</h2>
                <pre class="miltiline-code">
                <code class="javascript xml">
&lt;script type="text/javascript"&gt;</code><code class="javascript xml selected-line">  $.get("ajax/test.html", function(data) {</code><code class="javascript xml">    $(".result").html(data);
  });
&lt;/script&gt;
                </code>
                </pre>
	</section>
	<section class="slide">
                <h2>Дальше появилась динамика</h2>
                <pre class="miltiline-code">
                <code class="javascript xml">
&lt;script type="text/javascript"&gt;
  $.get("ajax/test.html", function(data) {</code><code class="javascript xml selected-line">    $(".result").html(data);</code><code class="javascript xml">  });
&lt;/script&gt;
                </code>
                </pre>
	</section>


	<section class="slide">
                <h2>Браузеры стали еще быстрее</h2>
                <ul>
                  <li>2009 &mdash; Mozilla Firefox 3.5 TraceMonkey(SpiderMonkey)</li>
                  <li>2010 &mdash; Mozilla Firefox 4.0 JägerMonkey</li>
                </ul>
                <img style="margin-left: 20%;" src="pictures/firefox-benchmark.png"/>
	</section>

        <section class="slide">
                <h2>И все продолжили использовать JQuery</h2>
                <img style="margin-left: 30%;" src="pictures/facepalm-captain.png"/>
	</section>
        <section class="slide">
                <br/>
                <br/>
                <br/>
                <h2>Кто из вас знает, почему JQuery плох для больших фронтенд проектов со сложной логикой?</h2>
	</section>
        <section class="slide">
                <h2>Проблемы JQuery</h2>
                <ul>
                  <li>Не задает структуру проекта</li>
                  <li>Не задает архитектуру приложения</li>
                  <li>Набор низкоуровневых императивных примитивов</li>
                  <li>Нет единого мнения, как делать правильно</li>
                  <li>Очень много степеней свободы</li>
                </ul>
	</section>
        <section class="slide">
          <br/>
          <h2>Крупные компании с опытом сразу это понимали.</h2>
          <h2>Они делали внутренние фреймворки для создания фронтенда.</h2>
	</section>
	<section class="slide">
                <h2>Нельзя написать сложный фронтенд на JQuery без подготовки</h2>
                <pre class="miltiline-code">
                <code class="javascript xml">
&lt;script type="text/javascript"&gt;
  ...
  $('a.tra.papa').unbind('click');
  $('a.tra.papa').bind(doSomething);
  ...
&lt;/script&gt;
                </code>
                </pre>
	</section>
	<section class="slide">
                <h2>Нельзя написать сложный фронтенд на JQuery без подготовки</h2>
                <pre class="miltiline-code">
                <code class="javascript xml">
&lt;script type="text/javascript"&gt;
  ...</code><code class="javascript xml selected-line">  $('a.tra.papa').unbind('click');</code><code class="javascript xml">  $('a.tra.papa').bind(doSomething);
  ...
&lt;/script&gt;
                </code>
                </pre>
	</section>
	<section class="slide">
                <h2>Нельзя написать сложный фронтенд на JQuery без подготовки</h2>
                <pre class="miltiline-code">
                <code class="javascript xml">
&lt;script type="text/javascript"&gt;
  ...
  $('a.tra.papa').unbind('click');</code><code class="javascript xml selected-line">  $('a.tra.papa').bind(doSomething);</code><code class="javascript xml">  ...
&lt;/script&gt;
                </code>
                </pre>
	</section>
	<section class="slide">
                <h2>Компромиcсы на бэкэнде</h2>
                <pre class="miltiline-code">
                <code class="javascript xml">{% for fset, cap, tid in study_formsets.fset_cap_tid %}
  $(function() {
    $('.form_container_{{ tid }}').formset({
        prefix: '{{ fset.prefix }}',
        formCssClass: '{{ tid }}',
        extraClasses: ['myrow1', 'myrow2']
    });
  });
{% endfor %}
                </code>
                </pre>
	</section>
        <section class="slide">
          <br/>
          <br/>
          <h2>У кого был legacy проект на JQuery, который хотелось быстрее забросить?</h2>
	</section>
        <section class="slide">
          <h2>Самые стойкие извлекли урок и начали делать фронтенд по-другому</h2>
          <img style="width: 80%; margin-left: 10%;"  src="pictures/lamp.png"/>
	</section>
        <section class="slide">
          <h2>backbone.js <img class="title-image" src="pictures/backbone.png"/></h2>
          <ul>
            <li>Шаблонизатор</li>
            <li>Не дает архитектуру</li>
            <li>Позволяет взять за основу MVC</li>
          </ul>
	</section>
        <section class="slide">
          <h2>marionettejs <img class="title-image" src="pictures/marionette_logo.png"/></h2>
          <ul>
            <li>Архитектура</li>
            <li>Набор хэлперов для backbone.js</li>
            <li>Data-Binding</li>
          </ul>
	</section>
        <section class="slide">
          <h2 class="angular-title">AngularJS <img class="title-image" src="pictures/angular.png"/></h2>
          <ul>
            <li>Больше логики и структуры</li>
            <li>Все включено</li>
            <li>Полноценный фронтенд фреймворк</li>
          </ul>
	</section>

	<section class="slide">
          <h2 class="angular-title">AngularJS <img class="title-image" src="pictures/angular.png"/></h2>
                <pre class="miltiline-code angular"><code class="angular javascript">&lt;!doctype html&gt;
&lt;html ng-app&gt;
  &lt;head&gt;
    &lt;script src=&quot;scripts/angular.1.5.3.min.js&quot;&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div&gt;
      &lt;label&gt;Name:&lt;/label&gt;
      &lt;input type=&quot;text&quot; ng-model=&quot;yourName&quot; placeholder=&quot;Enter a name here&quot;&gt;
      &lt;hr&gt;
      &lt;h1&gt;Hello {{yourName}}!&lt;/h1&gt;
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
                </code>
                </pre>
	</section>

	<section class="slide">
          <h2 class="angular-title">AngularJS <img class="title-image" src="pictures/angular.png"/></h2>
                <pre class="miltiline-code angular">
                <code class="angular javascript xml">&lt;!doctype html&gt;
&lt;html ng-app&gt;
  &lt;head&gt;</code><code class="angular javascript xml selected-line">    &lt;script src=&quot;scripts/angular.1.5.3.min.js&quot;&gt;&lt;/script&gt;</code><code class="angular javascript">  &lt;/head&gt;
  &lt;body&gt;
    &lt;div&gt;
      &lt;label&gt;Name:&lt;/label&gt;
      &lt;input type=&quot;text&quot; ng-model=&quot;yourName&quot; placeholder=&quot;Enter a name here&quot;&gt;
      &lt;hr&gt;
      &lt;h1&gt;Hello {{yourName}}!&lt;/h1&gt;
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
                </code>
                </pre>
	</section>

	<section class="slide">
          <h2 class="angular-title">AngularJS <img class="title-image" src="pictures/angular.png"/></h2>
                <pre class="miltiline-code angular">
                <code class="angular javascript xml">&lt;!doctype html&gt;
&lt;html ng-app&gt;
  &lt;head&gt;
    &lt;script src=&quot;scripts/angular.1.5.3.min.js&quot;&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div&gt;
      &lt;label&gt;Name:&lt;/label&gt;</code><code class="angular javascript xml selected-line">      &lt;input type=&quot;text&quot; ng-model=&quot;yourName&quot; placeholder=&quot;Enter a name here&quot;&gt;</code><code class="angular javascript xml">      &lt;hr&gt;
      &lt;h1&gt;Hello {{yourName}}!&lt;/h1&gt;
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
                </code>
                </pre>
	</section>

	<section class="slide">
          <h2 class="angular-title">AngularJS <img class="title-image" src="pictures/angular.png"/></h2>
                <pre class="miltiline-code angular">
                <code class="angular javascript xml">&lt;!doctype html&gt;
&lt;html ng-app&gt;
  &lt;head&gt;
    &lt;script src=&quot;scripts/angular.1.5.3.min.js&quot;&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div&gt;
      &lt;label&gt;Name:&lt;/label&gt;
      &lt;input type=&quot;text&quot; ng-model=&quot;yourName&quot; placeholder=&quot;Enter a name here&quot;&gt;
      &lt;hr&gt;</code><code class="angular javascript xml selected-line">      &lt;h1&gt;Hello {{yourName}}!&lt;/h1&gt;</code><code class="angular javascript xml">    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
                </code>
                </pre>
	</section>



        <section class="slide">
          <h2>AngularJS <img class="title-image" src="pictures/angular.png"/></h2>
          <ul>
            <li>Код из примеров и документации не подходит для реальных проектов</li>
            <li>Много магии, которую ты не понимаешь</li>
            <li>С определенного момента, не зная эту магию, нельзя создавать эффективные приложения</li>
          </ul>
	</section>
        <section class="slide">
          <h2>React <img class="title-image" src="pictures/react.png"/></h2>
          <ul>
            <li>Функциональный подход к фронтенду</li>
            <li>Фронтенд как чистая функция от состояния</li>
          </ul>
	</section>
        <section class="slide">
          <h2>Фронтенд как чистая функция от состояния</h2>
          <br/>
          <img style="width: 100%;" src="pictures/ui_as_f_of_state_1.png" />
	</section>
        <section class="slide">
          <h2>Фронтенд как чистая функция от состояния</h2>
          <br/>
          <img style="width: 100%;" src="pictures/ui_as_f_of_state_2.png" />
	</section>
        <section class="slide">
          <h2>Фронтенд как чистая функция от состояния</h2>
          <br/>
          <img style="width: 100%;" src="pictures/ui_as_f_of_state_3.png" />
	</section>



        <section class="slide">
          <h2>React открыл дверь функциональному миру во фронтенд <img style="top: 110px; right: 40px; position: absolute;" class="title-image" src="pictures/lambda.jpg"/></h2>

          <p>
            Виртуальный дом решил проблему производительности, что позволило использовать концепции реактивного программирования для фронтенда на реальных проектах
          </p>
	</section>
        <section class="slide">
          <h2>Webcomponents<img class="title-image" src="pictures/webcomponents.png"/></h2>
          <p>
            Создатели браузеров знают, как делать фронтенд, и предлагают свою концепцию компонетного подхода в вебе.
          </p>
	</section>
        <section class="slide">
          <h2>Angular2<img style="backgound-color: blue;" class="title-image" src="pictures/angular2.png"/></h2>
          <p>Это абсолютно новый фреймворк</p>
          <p>Предлагает изначально пользоваться TypeScript</p>
	</section>

        <section class="slide">
          <h2>Gradual typing</h2>
          <p>
            Недостаточно писать код на императивном языке со слабой динамической типизацией
          </p>
          <p>
            Нужно больше гарантий - нужна система типов
          </p>
          <ul>
            <li>Typescript</li>
            <li>Flow</li>
          </ul>
	</section>

        <section class="slide">
          <h2>
            Развитие идет колоссальными темпами
          </h2>
          <img style="width: 100%" src="pictures/rocket.png"/>
	</section>


        <section class="slide">
          <h2>
            Почему идет такой стремительный рост и развитие фронтенда?
          </h2>
          <img style="width: 100%;" src="pictures/question.png"/>
	</section>


        <section class="slide">
          <br/>
          <h2>
            Достаточно освоить JavaScript, и ты можешь писать фуллстек приложения и оптимизировать свой рабочий процесс
          </h2>
	</section>

        <section class="slide">
          <h2>node.js</h2>
          <p>Полностью гомогенная структура</p>
          <p>В отличие от:</p>
          <ul>
            <li>C/C++ и Makefile</li>
            <li>Android и gradle</li>
          </ul>
	</section>

        <section class="slide">
          <h2>node.js</h2>
          <ul>
            <li>Grunt</li>
            <li>Gulp</li>
            <li>Babel</li>
            <li>Webpack</li>
          </ul>
	</section>

        <section class="slide">
          <h2>
            Но все ли так хорошо?
          </h2>
          <img style="width: 100%;" src="pictures/question.png"/>
	</section>


        <section class="slide">
          <h2 style="font-size: 60px;">
            Быстрорастущая индустрия создает проблемы
          </h2>
          <img style="width: 100%; position: absolute; top: 35px; left: 0px; z-index: -1;" src="pictures/trouble.png"/>
	</section>

        <section class="slide">
          <h2>Проблемы зависимостей и менеджера пакетов</h2>
          <img src="pictures/deps.png" style="width: 100%"/>
	</section>

        <section class="slide">
          <h2>
            npm -> npm2 -> npm3
          </h2>
          <ul>
            <li>npm 1</li>
            <li>npm 2</li>
            <li>npm 3</li>
          </ul>
	</section>
        <section class="slide">
          <h2>
            npm -> npm2 -> npm3
          </h2>
          <ul>
            <li>npm 1 &mdash; dependency hell</li>
            <li>npm 2</li>
            <li>npm 3</li>
          </ul>
        </section>

        <section class="slide">
          <h2>
            Dependency hell
          </h2>
          <img style="width: 100%;" src="pictures/dependancy_hell.png" />
	</section>

        <section class="slide">
          <h2>
            npm -> npm2 -> npm3          </h2>
          <ul>
            <li>npm 1 &mdash; dependency hell</li>
            <li>npm 2</li>
            <li>npm 3</li>
          </ul>
	</section>

        <section class="slide">
          <h2>
            npm -> npm2 -> npm3
          </h2>
          <ul>
            <li>npm 1 &mdash; dependency hell</li>
            <li>npm 2 &mdash; 1,5 GB зависимостей в node_modules</li>
            <li>npm 3</li>
          </ul>
	</section>
        <section class="slide">
          <h2>
            npm -> npm2 -> npm3
          </h2>
          <ul>
            <li>npm 1 &mdash; dependency hell</li>
            <li>npm 2 &mdash; 1,5 GB зависимостей в node_modules</li>
            <li>npm 3 &mdash; долгая установка: 40 минут занимает разворачивание проекта с нуля</li>
          </ul>
	</section>
        <section class="slide">
          <h2>
            npm -> npm2 -> npm3
          </h2>
          <ul>
            <li>npm 1 &mdash; dependуncy hell</li>
            <li>npm 2 &mdash; 1,5 GB зависимостей в node_modules</li>
            <li>npm 3 &mdash; долгая установка: 40 минут занимает разворачивание проекта с нуля</li>
            <li><span style="color: #fff">npm 3 </span>&mdash; если жестко фиксировать версии, работает как npm2</li>
          </ul>
	</section>

        <section class="slide">
          <h2>
            ReactRouter v1.0.2
          </h3>
          <p>Минорное изменение в history с 1.12 на 1.13  сломало ReactRouter</p>
          <p>Разработчики не всегда следуют спецификации semver</p>
	</section>

        <section class="slide">
          <h2>
            Старые зависимости
          </h2>
          <img src="pictures/fish.png" style="width: 100%;"/>
	</section>

        <section class="slide">
          <h2>
            React Native
          </h2>
          <p>Проект начали в ноябре на react-native 0.13.0</p>
          <p>В процессе разработки обновились до 0.15.0, дальше не получилось</p>
          <p>Закончили активную разработку при 0.19.0</p>
          <p>Сейчас 0.23.0</p>
	</section>

        <section class="slide">
          <h2>
            React Native
          </h2>
          <p>Проект начали в ноябре на react-native 0.13.0</p>
          <p>В процессе разработки обновились до 0.15.0, дальше не получилось</p>
          <p>Закончили активную разработку при 0.19.0</p>
          <strong>Сейчас 0.24.1</strong>
	</section>

        <section class="slide">
          <h2>Баги на этапе установки зависимостей</h2>
          <img src="pictures/fork.png"/>
	</section>
        <section class="slide">
          <h2>Баги на этапе установки зависимостей</h2>
          <img src="pictures/fork_2.png"/>
	</section>
        <section class="slide">
          <h2>Баги на этапе установки зависимостей</h2>
          <img src="pictures/fork_3.png"/>
	</section>
        <section class="slide">
          <h2>Баги на этапе установки зависимостей</h2>
          <img src="pictures/fork_4.png"/>
	</section>

        <section class="slide">
          <h2>Новый стек - новый toolset</p>
          <img style="width: 100%;" src="pictures/toolset.png"/>
	</section>

        <section class="slide">
          <h2>Иммутабельные данные в мутабельном языке</h2>
          <img style="width: 100%;" src="pictures/hammer.png"/>
	</section>

        <section class="slide">
          <h2>Иммутабельные данные в мутабельном языке</h2>
          <img style="width: 100%;" src="pictures/nail.png"/>
	</section>


        <section class="slide">
          <h2>
            Gradual typing
          </h2>
          <img style="width: 100%;" src="pictures/window.png"/>
	</section>
        <section class="slide">
          <h2>
            Gradual typing
          </h2>
          <img style="width: 100%;" src="pictures/window_2.png"/>
	</section>
        <section class="slide">
          <h2>
            Gradual typing
          </h2>
          <img style="width: 100%;" src="pictures/window_3.png"/>
	</section>
        <section class="slide">
          <h2>
            Gradual typing
          </h2>
          <img style="width: 100%;" src="pictures/window_4.png"/>
	</section>

        <section class="slide">
          <h2 style="font-size: 60px">
            <br/>
            <br/>
            <br/>
            “Головокружение от успехов”
          </h2>
	</section>


        <section class="slide">
          <h2>
            Цикличность мира
          </h2>
          <p>
            Мы пытаемся использовать старые добрые инструменты для решения новых задач более высокого уровня
          </p>
	</section>

        <section class="slide">
          <h2>
            Цикличность мира
          </h2>
          <p>
            Но это уже с нами было
          </p>
	</section>

        <section class="slide">
          <h2>
            Цикличность мира
          </h2>
          <p>
            Мы имеем проблемы, аналогичные тем, что были у JQuery, но на уровне инфраструктуры и языка
          </p>
	</section>

        <section class="slide">
          <h2>
            И что же нам делать?
          </h2>
	</section>

        <section class="slide">
          <h2>
            Elm
          </h2>
          <img style="margin-left: 20%;" src="pictures/elm.png"/>
	</section>

        <section class="slide">
          <h2>
            Elm
          </h2>
          <ul>
            <li>Статически типизированный с автоматическим выводом типов</li>
            <li>Изначально ориентирован на фронтенд</li>
            <li>Свой менеджер пакетов</li>
            <li>Интеграция с JavaScript</li>
            <li>Интеграция с webpack и React</li>
          </ul>
	</section>

        <section class="slide">
          <h2>
            Статически типизированный с автоматическим выводом типов
          </h2>
          <img style="margin-left: 10%;" src="pictures/elm-type.png"/>
	</section>


        <section class="slide">
          <h2>
            Изначально ориентирован на фронтенд
          </h2>
          <ul>
            <li><a href="https://github.com/evancz/elm-architecture-tutorial">The Elm Architecture</a></li>
            <li>Реактивный</li>
            <li>Компоненты могут вкладываться друг в друга бесконечно</li>
            <li>Высокая модульность и ориентированность на повторное использование кода</li>
          </ul>
	</section>

        <section class="slide">
          <h2>
            Реактивный
          </h2>
          <ul>
            <li>Интерфейс &mdash; свертка потока событий</li>
            <li>Логирование всех событий</li>
            <li>Time travel debugger</li>
          </ul>
	</section>



        <section class="slide">
          <h2>
            Свой менеджер пакетов
          </h2>
          <ul>
          <li>Содержит все необходимые базовые примитивы</li>
          <li>Легко интегрируется с github</li>
          <li>Документация генерируется автоматически</li>
          <li>Строго следит за тем, чтобы пакеты следовали semver</li>
          </ul>
	</section>
        <section class="slide">
          <h2>
            Интеграция с JavaScript runtime
          </h2>
          <a href="http://elm-lang.org/guide/interop">Elm interop guide</a>
          <pre class="miltiline-code">
          <code class="javascript">
var div = document.getElementById('elm-stamps');
var stamps = Elm.embed(Elm.Stamps, div, { reset:[] });
stamps.ports.reset.send([]);
stamps.ports.count.subscribe(function(count) {
  console.log(count);
});
          </code>
          </pre>
	</section>
        <section class="slide">
          <h2>
            Интеграция с JavaScript runtime
          </h2>
          <a href="http://elm-lang.org/guide/interop">Elm interop guide</a>
          <pre class="miltiline-code">
          <code class="javascript">
var div = document.getElementById('elm-stamps');</code><code class="javascript selected-line">var stamps = Elm.embed(Elm.Stamps, div, { reset:[] });</code><code class="javascript">stamps.ports.reset.send([]);
stamps.ports.count.subscribe(function(count) {
  console.log(count);
});
          </code>
          </pre>
	</section>
        <section class="slide">
          <h2>
            Интеграция с JavaScript runtime
          </h2>
          <a href="http://elm-lang.org/guide/interop">Elm interop guide</a>
          <pre class="miltiline-code">
          <code class="javascript">
var div = document.getElementById('elm-stamps');
var stamps = Elm.embed(Elm.Stamps, div, { reset:[] });</code><code class="javascript selected-line">stamps.ports.reset.send([]);</code><code class="javascript">stamps.ports.count.subscribe(function(count) {
  console.log(count);
});
          </code>
          </pre>
	</section>
        <section class="slide">
          <h2>
            Интеграция с JavaScript runtime
          </h2>
          <a href="http://elm-lang.org/guide/interop">Elm interop guide</a>
          <pre class="miltiline-code">
          <code class="javascript">
var div = document.getElementById('elm-stamps');
var stamps = Elm.embed(Elm.Stamps, div, { reset:[] });
stamps.ports.reset.send([]);</code><code class="javascript selected-line">stamps.ports.count.subscribe(function(count) {
  console.log(count);
});</code>
          </pre>
	</section>




        <section class="slide">
          <h2>
            Интеграция с Webpack и React
          </h2>
          <ul>
            <li><a href="https://github.com/rtfeldman/elm-webpack-loader">elm-webpack-loader</a></li>
            <li><a href="https://github.com/KtorZ/elm-react-component">elm-react-component</a></li>
          </ul>
	</section>

        <section class="slide">
          <h2>
            Как начать?
          </h2>
          <p><a href="http://elm-lang.org/docs">http://elm-lang.org/docs</a></p>
          <p><a href="http://elm-lang.org/try">http://elm-lang.org/try</a></p>
          <p><a href="http://elm-lang.org/examples/mario">Mario example</a></p>
          <p><a href="http://debug.elm-lang.org/try">Time travel debugger example</a></p>
        </section>

        <section class="slide">
          <h2>
            Время для вопросов
          </h2>
          <br/>
          <br/>
          <br/>
          <p class="float-right">Илья Беда</p>
          <p class="float-right"><a href="mailto:ilya@bro.agency">ilya@bro.agency</a></p>
	</section>


	<p class="badge">
		<a href="https://github.com/ir4y/pizzajs">Fork me on GitHub</a>
	</p>
	<!--
		To hide progress bar from entire presentation
		just remove “progress” element.
		-->
	<div class="progress"></div>
	<script src="shower/shower.min.js"></script>
	<!-- Copyright © 2015 Yours Truly, Famous Inc. -->
	<!-- Photos by John Carey, fiftyfootshadows.net -->
</body>
</html>
